################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/slnx.sqlite
/.vs/ASE_Documentation/FileContentIndex/581c8061-b92f-4fc5-b656-f84030b4d5dd.vsidx
/.vs/ASE_Documentation/FileContentIndex/392e3c32-6646-469f-90c0-f860e7733d40.vsidx
/.vs/ASE_Documentation/FileContentIndex/32516388-77a4-48f3-8f59-2c99b1603f3a.vsidx
